
        <tr>
          <td>{{ format_date this.date_time }}</td>
          <td>{{ format_time this.date_time }}</td>
          <td>{{ this.num_guests }}</td>
          <td>{{ this.restaurant.name }}</td>
          <td>{{ this.dining_table.restaurant_table_ref }}</td>
        </tr>