

    <div class="card-body">

      {{!-- <img src="/images/{{filename}}" alt="{{description}}"> --}}
      <h2>{{ user.first_name }} {{ user.last_name }}</h5>
      <h4>Email</h4>

      <h5>{{ user.email }}</h5>

      <h4>Phone</h4>
      <h5>{{ user.phone_number }}</h5>

      <p id="resobutton">
        <a href="../users/profile/reservations"class= "button1" id = "profileBtn"> My reservations</a>
      </p>
    </div>
{{!-- <div> <a href="/" class="button1">Return to Home</a> --}}
{{!-- </div>
   
</div>
    --}}


