<div class="detailsDisplay"> 
    <h2>{{restaurant.name}}</h2>
    <div class="detailsLogo">
        <img class="detailsImage" src="/images/{{restaurant.image_link}}" alt="Icon for {{restaurant.name}}">
        <p>"{{restaurant.description}}"</p>
    </div>
    <p>Hours: {{restaurant.hours}}</p> 
    <a href="{{restaurant.menu_link}}">View Menu</a> 
    <a class="detailsBtn" href="reserve/{{restaurant.restaurant_id}}">Reserve a Table</a>
</div>