<div>
    <img src="{{restaurant.image_link}}">

    <h2 class="restaurant" id="{{restaurant.restaurant_id}}" >{{restaurant.name}}</h2>

    <p>{{restaurant.description}}</p>

    <a href="{{restaurant.menu_link}}">Veiw Menu</a>

    <p>{{restaurant.hours}}</p>

    {{!-- <button id="reserveBtn">Reserve a Table</button> --}}
        <a id="reserveBtn" href="reserve/{{restaurant.restaurant_id}}">Reserve a Table</a>
    
</div>

<script src="/js/restaurantselect.js"></script>