<div>
    <img src="{{restaurant.image_link}}">

    <h2>{{restaurant.name}}</h2>

    <p>{{restaurant.description}}</p>

    <a href="{{restaurant.menu_link}}">Veiw Menu</a>

    <p>{{restaurant.hours}}</p>

    <a href="reserve/{{restaurant.restaurant_id}}">Reserve a Table</a>
</div>