<div>
    <img src="{{restImage}}">

    <h2>{{restName}}</h2>

    <p>{{restDesc}}</p>

    <a href="{{restMenu}}">Veiw Menu</a>

    <p>{{restHours}}</p>

    <a href="api/restaurant/reserve/{{restID}}">Reserve a Table</a>
</div>